{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Games Disliked by {{username}}
</h1>
<div class="column is-4 is-offset-4">
    {% if games_disliked %}
        <table>
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Game Name</th>
                    <th>Date of Publish</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games_disliked %}
                    <tr>
                        <td>{{ game[0] }}</td>
                        <td>{{ game[1] }}</td>
                        <td>{{ game[2] }}</td>
                        <td>
                            <form method="POST" action="/remove/{{ game[0] }}">
                                <input type="submit" value="remove">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not dislike any games yet.</p>
    {% endif %}
</div>
{% endblock %}

