<html>
 <head>
   <style>
 
    body{
      font-size: 15pt;
      font-family: arial;
      background-color: #00D1B2;
    }
    
    .navbar{
	position: fixed;
	top:0;
	right:0;
	display:flex;
	flex-direction:row;
	align-items:center;
	height:50px;
	background-color: #00D1B2;
	padding:0 10px;
     }

     .navbar a{
	display:block;
	padding:8px 16px;
	text-decoration:none;
	color:#666;
     }

     .navbar a:hover{
	background-color:#ddd;
	color:#000
     }

     .form {
	padding-left: 50px;
     }

   </style>
 </head>


<body>
  <div class="navbar">
	<a class="active" href=".">Home</a>
	<a href = "profile">Profile</a>
	<a href = "login">Login</a>
	<a href = "register">Register</a>
	<a href = "logout">Logout</a>
  </div>

<h1><b>Game Search Engine</b></h1>

<p style = > <b> Inside the search box, you can either enter the game you want to search or the genre it belongs to, there are following possible genres: </b></p>
<ul> <li> Indie </li> <li>RPG</li> <li>Simulation</li> <li>Action</li> <li>Adventure</li> <li>Third Person</li> <li>2D</li> <li>3D</li> <li>First Person</li> </ul>
 
<form method="POST" action="/search">
<p>Enter the name you want to search: <input type="text" name="search_text"> <input type="submit" value="search"></p>
</form>
<p> Search results for {{ search_text }}</p>
<table>
	<tr>
	  <th>Name</th>
	  <th>Release_Date</th>
	  <th>Price</th>
	  <th>Media_Rating</th>
	  <th>Age_restriction</th>
	  <th>Developer</th>
	</tr>

	{% for res in game_res %}
	<tr>
	<th>{{res[0]}}</th>
	<th>{{res[1]}}</th>
	<th>{{res[2]}}</th>
	<th>{{res[3]}}</th>
	<th>{{res[4]}}</th>
	<th>{{res[5]}}</th>
	</tr>
	{% endfor %}
</table>


</body>


</html>
