<html>
 <head>
   <style>
 
    body{
      font-size: 15pt;
      font-family: arial;
      background-color: #00D1B2;
    }
    
    .navbar{
	position: fixed;
	top:0;
	right:0;
	display:flex;
	flex-direction:row;
	align-items:center;
	height:50px;
	background-color: #00D1B2;
	padding:0 10px;
     }

     .navbar a{
	display:block;
	padding:8px 16px;
	text-decoration:none;
	color:#666;
     }

     .navbar a:hover{
	background-color:#ddd;
	color:#000
     }

     .form {
	padding-left: 50px;
     }

   </style>
 </head>


<body>
  <div class="navbar">
	<a class="active" href=".">Home</a>
	<a href = "profile">Profile</a>
	<a href = "login">Login</a>
	<a href = "register">Register</a>
	<a href = "logout">Logout</a>
  </div>

<h1><b>Game Search Engine</b></h1>

<p style = > <b> Inside the search box, you can either enter the game you want to search or the genre it belongs to, there are following possible genres: </b></p>
<ul> <li> Indie </li> <li>RPG</li> <li>Simulation</li> <li>Action</li> <li>Adventure</li> <li>Third Person</li> <li>2D</li> <li>3D</li> <li>First Person</li> </ul>
 
<form method="POST" action="/search">
<p>Enter the name you want to search: <input type="text" name="search_text"> <input type="submit" value="search"></p>
</form>
<p> Search results for {{ search_text }}</p>
<table>
	<tr>
	  <th>Game_id</th>
	  <th>Name</th>
	  <th>Release_Date</th>
	  <th>Price</th>
	  <th>Media_Rating</th>
	  <th>Age_restriction</th>
	  <th>Developer</th>
	  <th></th>
	  <th></th>
	</tr>
	{% for res in game_res %}
	<tr>
	<th>{{res[6]}}</th>
	<th>{{res[0]}}</th>
	<th>{{res[1]}}</th>
	<th>{{res[2]}}</th>
	<th>{{res[3]}}</th>
	<th>{{res[4]}}</th>
	<th>{{res[5]}}</th>
	{%if logged_in|default(false)%}
		{%if res[6] not in liked_games|default([])%}
		<td>
			<form method="POST" action="/like/{{ res[6] }}">
				<input type="submit" value="like">
			</form>
		</td>
		<td>
			<form method="POST" action="/dislike/{{ res[6] }}">
				<input type="submit" value="dislike">
			</form>
		</td>
		{% else %}
		<td>
			<form method="POST" action="/unlike/{{ res[6] }}">
				<input type="submit" value="Unlike">
			</form>
		</td>
		{% endif %}
	{%else%}
	<td></td>
	<td></td>
	{% endif %}
	</tr>
	{% endfor %}
</table>

<p> After you find the game_id of interested game, you can put in here to find related reviews from users </p>
<form method="POST" action="/search_review">
<p>Enter the game_id you want to search: <input type="text" name="game_id"> <input type="submit" value="search"></p>
</form>

<table>
        <tr>
          <th>User_id</th>
	  <th>Recommended</th>
          <th>Comments</th>
          <th>Play_time</th>
        </tr>
        {% for review in review_ls %}
        <tr>
        <th>{{review[0]}}</th>
	<th>{{review[1]}}</th>
        <th>{{review[2]}}</th>
        <th>{{review[3]}}</th>
	{% endfor %}
</table>

</body>


</html>
